# FE512 Final Project Data Import 2

In [58]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [59]:
%sql mysql+pymysql://root:@fe512_mysql/fe512db

'Connected: root@fe512db'

In [64]:
#%sql CREATE DATABASE hint

 * mysql+pymysql://root:***@fe512_mysql/fe512db
0 rows affected.

[]

In [5]:
%sql USE hint

 * mysql+pymysql://root:***@fe512_mysql/fe512db
0 rows affected.

[]

In [66]:
%sql SHOW TABLES

 * mysql+pymysql://root:***@fe512_mysql/fe512db
19 rows affected.

[('Cancer_Cat_Value_Label',),
 ('Race_Cat2_Value_Label',),
 ('cancer_info',),
 ('prostate_analysis',),
 ('section_a',),
 ('section_b',),
 ('section_c',),
 ('section_d',),
 ('section_e',),
 ('section_f',),
 ('section_g',),
 ('section_h',),
 ('section_i',),
 ('section_j',),
 ('section_k',),
 ('section_l',),
 ('section_m',),
 ('section_n',),
 ('section_o',)]

# section_o

In [9]:
%%sql 
DROP TABLE IF EXISTS o_response; #db name
CREATE TABLE IF NOT EXISTS section_o(
    PersonID VARCHAR(20),
    Age INT,
    OccupationStatus INT,
    OccupationStatus_OS VARCHAR(255),
    Employed INT,
    Unemployed INT,
    Homemaker INT,
    Student INT,
    Retired INT,
    Disabled INT,
    OtherOcc INT,
    MultiOcc INT,
    ActiveDutyArmedForces INT,
    ReceivedCareVA INT,
    MaritalStatus INT,
    Education INT,
    BornInUSA INT,
    YearCameToUSA INT,
    SpeakEnglish INT,
    NotHisp INT,
    Mexican INT,
    PuertoRican INT,
    Cuban INT,
    OthHisp INT,
    Hisp_Cat INT,
    White INT,
    Black INT,
    AmerInd INT,
    AsInd INT,
    Chinese INT,
    Filipino INT,
    Japanese INT,
    Korean INT,
    Vietnamese INT,
    OthAsian INT,
    Hawaiian INT,
    Guamanian INT,
    Samoan INT,
    OthPacIsl INT,
    Race_Cat2 INT,
    SexualOrientation INT,
    SexualOrientation_OS VARCHAR(255),
    TotalHousehold INT,
    R_HHAdults INT,
    HHAdults_Num INT,
    SelfGender INT,
    SelfAge INT,
    SelfMOB INT,
    HHAdultGender2 INT,
    HHAdultAge2 INT,
    HHAdultMOB2 INT,
    HHAdultGender3 INT,
    HHAdultAge3 INT,
    HHAdultMOB3 INT,
    HHAdultGender4 INT,
    HHAdultAge4 INT,
    HHAdultMOB4 INT,
    HHAdultGender5 INT,
    HHAdultAge5 INT,
    HHAdultMOB5 INT,
    ChildrenInHH INT,
    RentOrOwn INT,
    CellPhone INT,
    PhoneInHome INT,
    IncomeRanges INT,
    MailSurveyTime_Min INT,
    MailSurveyTime_Hrs INT,
    TypeOfAddressA INT,
    TypeOfAddressB INT,
    TypeOfAddressC INT,
    TypeOfAddressD INT
);

 * mysql+pymysql://root:***@fe512_mysql/fe512db
0 rows affected.
0 rows affected.

[]

In [67]:
%%sql
SELECT count(*)
FROM information_schema.columns
WHERE table_name = 'section_o';

 * mysql+pymysql://root:***@fe512_mysql/fe512db
1 rows affected.

[(71,)]

In [14]:
%sql SHOW TABLES

 * mysql+pymysql://root:***@fe512_mysql/fe512db
2 rows affected.

[('section_n',), ('section_o',)]

In [11]:
%%sql

LOAD DATA 
    INFILE '/home/data/section_o.csv' 
    INTO TABLE section_o
    FIELDS
        TERMINATED BY ','
        OPTIONALLY ENCLOSED BY '"'
        ESCAPED BY '\\'
    LINES
        TERMINATED BY '\n'
    IGNORE 1 LINES;

 * mysql+pymysql://root:***@fe512_mysql/fe512db
3285 rows affected.

[]

In [12]:
%sql SELECT * FROM section_o LIMIT 1

 * mysql+pymysql://root:***@fe512_mysql/fe512db
1 rows affected.

[('60000001-02', 49, 3, '-1', 2, 2, 1, 2, 2, 2, 2, 1, 5, -1, 1, 3, 1, -1, 1, 1, 2, 2, 2, 2, 10, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 11, 1, '-1', 6, 4, 4, 2, 49, 4, 1, 51, 7, 2, 22, 6, 1, 18, 11, -1, -1, -1, 2, 1, 1, 1, 7, 30, -1, 1, 2, 2, 2)]

# section_n

In [20]:
%%sql 
DROP TABLE IF EXISTS section_n; #db name
CREATE TABLE IF NOT EXISTS section_n(
    PersonID VARCHAR(20),
    ChanceGetCancer INT,
    EverythingCauseCancer INT,
    PreventNotPossible INT,
    TooManyRecommendations INT,
    CancerMoreCommon INT,
    CancerFatal INT,
    RatherNotKnowChance INT,
    FreqWorryCancer INT,
    FamilyEverHadCancer INT
);

 * mysql+pymysql://root:***@fe512_mysql/fe512db
0 rows affected.
0 rows affected.

[]

In [21]:
%%sql

LOAD DATA 
    INFILE '/home/data/section_n.csv' 
    INTO TABLE section_n
    FIELDS
        TERMINATED BY ','
        OPTIONALLY ENCLOSED BY '"'
        ESCAPED BY '\\'
    LINES
        TERMINATED BY '\n'
    IGNORE 1 LINES;

 * mysql+pymysql://root:***@fe512_mysql/fe512db
3285 rows affected.

[]

In [22]:
%sql SELECT * FROM section_n LIMIT 1;

 * mysql+pymysql://root:***@fe512_mysql/fe512db
1 rows affected.

[('60000001-02', 5, 2, 3, 3, 3, 3, 4, 3, 1)]

# section_m

In [23]:
%%sql 
DROP TABLE IF EXISTS section_m; #db name
CREATE TABLE IF NOT EXISTS section_m(
    PersonID VARCHAR(20),
    EverHadCancer INT,
    CaBladder INT,
    CaBone INT,
    CaBreast INT,
    CaCervical INT,
    CaColon INT,
    CaEndometrial INT,
    CaHeadNeck INT,
    CaHodgkins INT,
    CaLeukemia INT,
    CaLiver INT,
    CaLung INT,
    CaMelanoma INT,
    CaNonHodgkin INT,
    CaOral INT,
    CaOvarian INT,
    CaPancreatic INT,
    CaPharyngeal INT,
    CaProstate INT,
    CaRectal INT,
    CaRenal INT,
    CaSkin INT,
    CaStomach INT,
    CaOther INT,
    CaOther_OS VARCHAR(255),
    Cancer_Cat INT,
    WhenDiagnosedCancer INT,
    UndergoCancerTreatment INT,
    CancerTx_Chemo INT,
    CancerTx_Radiation INT,
    CancerTx_Surgery INT,
    CancerTx_Other INT,
    HowLongFinishTreatment_Cat INT,
    CancerTxSummary INT,
    CancerDeniedCoverage INT,
    CancerHurtFinances INT,
    CancerAbilityToWork INT,
    ClinicalTrialCancerTx INT,
    DiscussedClinicalTrial INT
);

 * mysql+pymysql://root:***@fe512_mysql/fe512db
0 rows affected.
0 rows affected.

/opt/conda/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1051, "Unknown table 'hint.section_m'")
  result = self._query(query)

[]

In [24]:
%sql SHOW TABLES;

 * mysql+pymysql://root:***@fe512_mysql/fe512db
3 rows affected.

[('section_m',), ('section_n',), ('section_o',)]

In [25]:
%%sql

LOAD DATA 
    INFILE '/home/data/section_m.csv' 
    INTO TABLE section_m
    FIELDS
        TERMINATED BY ','
        OPTIONALLY ENCLOSED BY '"'
        ESCAPED BY '\\'
    LINES
        TERMINATED BY '\n'
    IGNORE 1 LINES;

 * mysql+pymysql://root:***@fe512_mysql/fe512db
3285 rows affected.

[]

In [26]:
%sql SELECT * FROM section_m LIMIT 1;

 * mysql+pymysql://root:***@fe512_mysql/fe512db
1 rows affected.

[('60000001-02', 2, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, '-1', -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1)]

# section_l

In [27]:
%%sql 
DROP TABLE IF EXISTS section_l; #db name
CREATE TABLE IF NOT EXISTS section_l(
    PersonID VARCHAR(20),
    HeardHPV INT,
    HPVCauseCancer_Cervical INT,
    HPVCauseCancer_Penile INT,
    HPVCauseCancer_Anal INT,
    HPVCauseCancer_Oral INT,
    HPVSTD INT,
    HPVMedicalTreatment INT,
    HeardHPVVaccine2 INT,
    HPVShotPrevent INT,
    FamBetween9and27 INT,
    DiscussHPVVaccination12m INT,
    RecommendHPVShot INT
);

 * mysql+pymysql://root:***@fe512_mysql/fe512db
0 rows affected.
0 rows affected.

/opt/conda/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1051, "Unknown table 'hint.section_l'")
  result = self._query(query)

[]

In [28]:
%sql SHOW TABLES;

 * mysql+pymysql://root:***@fe512_mysql/fe512db
4 rows affected.

[('section_l',), ('section_m',), ('section_n',), ('section_o',)]

In [29]:
%%sql

LOAD DATA 
    INFILE '/home/data/section_l.csv' 
    INTO TABLE section_l
    FIELDS
        TERMINATED BY ','
        OPTIONALLY ENCLOSED BY '"'
        ESCAPED BY '\\'
    LINES
        TERMINATED BY '\n'
    IGNORE 1 LINES;

 * mysql+pymysql://root:***@fe512_mysql/fe512db
3285 rows affected.

[]

In [30]:
%sql SELECT * FROM section_l LIMIT 1;

 * mysql+pymysql://root:***@fe512_mysql/fe512db
1 rows affected.

[('60000001-02', 1, 1, 1, 1, 1, 1, 1, 1, 4, 1, 1, 1)]

# section_k

In [37]:
%%sql 
DROP TABLE IF EXISTS section_k; #db name
CREATE TABLE IF NOT EXISTS section_k(
    PersonID VARCHAR(20),
    GenderC INT,
    WhenPapTest INT,
    WhenMammogram INT,
    EverHadPSATest INT
);

 * mysql+pymysql://root:***@fe512_mysql/fe512db
0 rows affected.
0 rows affected.

[]

In [38]:
%sql SHOW TABLES;

 * mysql+pymysql://root:***@fe512_mysql/fe512db
5 rows affected.

[('section_k',),
 ('section_l',),
 ('section_m',),
 ('section_n',),
 ('section_o',)]

In [39]:
%%sql

LOAD DATA 
    INFILE '/home/data/section_k.csv' 
    INTO TABLE section_k
    FIELDS
        TERMINATED BY ','
        OPTIONALLY ENCLOSED BY '"'
        ESCAPED BY '\\'
    LINES
        TERMINATED BY '\n'
    IGNORE 1 LINES;

 * mysql+pymysql://root:***@fe512_mysql/fe512db
3285 rows affected.

[]

In [40]:
%sql SELECT * FROM section_k LIMIT 1;

 * mysql+pymysql://root:***@fe512_mysql/fe512db
1 rows affected.

[('60000001-02', 2, 4, 3, -1)]

# section_j

In [41]:
%%sql 
DROP TABLE IF EXISTS section_j; #db name
CREATE TABLE IF NOT EXISTS section_j(
    PersonID VARCHAR(20),
    Smoke100 INT,
    SmokeNow INT,
    TriedQuit INT,
    ConsiderQuit INT,
    ElectCigLessHarm INT,
    UsedECigEver INT,
    UseECigNow INT,
    DrTalkLungTest INT,
    SmokelessLessHarm INT,
    HookahLessHarm INT
);

 * mysql+pymysql://root:***@fe512_mysql/fe512db
0 rows affected.
0 rows affected.

/opt/conda/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1051, "Unknown table 'hint.section_j'")
  result = self._query(query)

[]

In [42]:
%sql SHOW TABLES;

 * mysql+pymysql://root:***@fe512_mysql/fe512db
6 rows affected.

[('section_j',),
 ('section_k',),
 ('section_l',),
 ('section_m',),
 ('section_n',),
 ('section_o',)]

In [45]:
%%sql

LOAD DATA 
    INFILE '/home/data/section_j.csv' 
    INTO TABLE section_j
    FIELDS
        TERMINATED BY ','
        OPTIONALLY ENCLOSED BY '"'
        ESCAPED BY '\\'
    LINES
        TERMINATED BY '\n'
    IGNORE 1 LINES;

 * mysql+pymysql://root:***@fe512_mysql/fe512db
3285 rows affected.

[]

In [47]:
%sql SELECT * FROM section_j LIMIT 1;

 * mysql+pymysql://root:***@fe512_mysql/fe512db
1 rows affected.

[('60000001-02', 1, 3, -1, -1, 2, 2, -1, 2, 2, 3)]

# section_i

In [48]:
%%sql 
DROP TABLE IF EXISTS section_i; #db name
CREATE TABLE IF NOT EXISTS section_i(
    PersonID VARCHAR(20),
    TimesModerateExercise INT,
    HowLongModerateExerciseMn INT,
    HowLongModerateExerciseHr INT,
    TimesStrengthTraining INT,
    TanningBed INT,
    SkinCancerHPExam INT,
    SkinCancerSelfCheck INT
);

 * mysql+pymysql://root:***@fe512_mysql/fe512db
0 rows affected.
0 rows affected.

/opt/conda/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1051, "Unknown table 'hint.section_i'")
  result = self._query(query)

[]

In [49]:
%sql SHOW TABLES;

 * mysql+pymysql://root:***@fe512_mysql/fe512db
7 rows affected.

[('section_i',),
 ('section_j',),
 ('section_k',),
 ('section_l',),
 ('section_m',),
 ('section_n',),
 ('section_o',)]

In [50]:
%%sql

LOAD DATA 
    INFILE '/home/data/section_i.csv' 
    INTO TABLE section_i
    FIELDS
        TERMINATED BY ','
        OPTIONALLY ENCLOSED BY '"'
        ESCAPED BY '\\'
    LINES
        TERMINATED BY '\n'
    IGNORE 1 LINES;

 * mysql+pymysql://root:***@fe512_mysql/fe512db
3285 rows affected.

[]

In [51]:
%sql SELECT * FROM section_i LIMIT 1;

 * mysql+pymysql://root:***@fe512_mysql/fe512db
1 rows affected.

[('60000001-02', 4, 45, 0, 2, 0, 1, 1)]

# section_h

In [53]:
%%sql 
DROP TABLE IF EXISTS section_h; #db name
CREATE TABLE IF NOT EXISTS section_h(
    PersonID VARCHAR(20),
    UseMenuCalorieInfo INT,
    Fruit INT,
    Vegetables INT,
    AlcoholConditions_Cancer INT,
    AlcoholConditions_HeartDisease INT,
    AlcoholConditions_Diabetes INT,
    AlcoholConditions_Cholesterol INT,
    AlcoholConditions_LiverDisease INT,
    AlcoholConditions_Overweight INT,
    AlcoholIncreaseCancer INT,
    AlcoholReduceHeart INT
);

 * mysql+pymysql://root:***@fe512_mysql/fe512db
0 rows affected.
0 rows affected.

/opt/conda/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1051, "Unknown table 'hint.section_h'")
  result = self._query(query)

[]

In [54]:
%sql SHOW TABLES;

 * mysql+pymysql://root:***@fe512_mysql/fe512db
8 rows affected.

[('section_h',),
 ('section_i',),
 ('section_j',),
 ('section_k',),
 ('section_l',),
 ('section_m',),
 ('section_n',),
 ('section_o',)]

In [55]:
%%sql

LOAD DATA 
    INFILE '/home/data/section_h.csv' 
    INTO TABLE section_h
    FIELDS
        TERMINATED BY ','
        OPTIONALLY ENCLOSED BY '"'
        ESCAPED BY '\\'
    LINES
        TERMINATED BY '\n'
    IGNORE 1 LINES;

 * mysql+pymysql://root:***@fe512_mysql/fe512db
3285 rows affected.

[]

In [56]:
%sql SELECT * FROM section_h LIMIT 1;

 * mysql+pymysql://root:***@fe512_mysql/fe512db
1 rows affected.

[('60000001-02', 2, 2, 3, 1, -9, -9, -9, 1, -9, 2, 3)]

# survey_section

In [98]:
%%sql 
DROP TABLE IF EXISTS survey_section; 
CREATE TABLE IF NOT EXISTS survey_section(
    sectionID CHAR(1),
    section_description VARCHAR(255)
);

 * mysql+pymysql://root:***@fe512_mysql/fe512db
0 rows affected.
0 rows affected.

[]

In [99]:
%sql SHOW TABLES

 * mysql+pymysql://root:***@fe512_mysql/fe512db
20 rows affected.

[('Cancer_Cat_Value_Label',),
 ('Race_Cat2_Value_Label',),
 ('cancer_info',),
 ('prostate_analysis',),
 ('section_a',),
 ('section_b',),
 ('section_c',),
 ('section_d',),
 ('section_e',),
 ('section_f',),
 ('section_g',),
 ('section_h',),
 ('section_i',),
 ('section_j',),
 ('section_k',),
 ('section_l',),
 ('section_m',),
 ('section_n',),
 ('section_o',),
 ('survey_section',)]

In [100]:
%%sql

LOAD DATA 
    INFILE '/home/data/survey_section.csv' 
    INTO TABLE survey_section
    FIELDS
        TERMINATED BY ','
        OPTIONALLY ENCLOSED BY '"'
        ESCAPED BY '\\'
    LINES
        TERMINATED BY '\n'
    IGNORE 1 LINES;

 * mysql+pymysql://root:***@fe512_mysql/fe512db
15 rows affected.

[]

In [101]:
%sql SELECT * FROM survey_section

 * mysql+pymysql://root:***@fe512_mysql/fe512db
15 rows affected.

[('A', 'Looking For Health Information\r'),
 ('B', 'Using the Internet to Find Information\r'),
 ('C', 'Your Health Care\r'),
 ('D', 'Medical Records\r'),
 ('E', 'Caregiving\r'),
 ('F', 'Medical Research\r'),
 ('G', 'Your Overall Health\r'),
 ('H', 'Health and Nutrition\r'),
 ('I', 'Physical Activity Exercise and UV Exposure\r'),
 ('J', 'Tobacco Products\r'),
 ('K', 'Screening For Cancer\r'),
 ('L', 'HPV Awareness\r'),
 ('M', 'Your Cancer History\r'),
 ('N', 'Beliefs About Cancer\r'),
 ('O', 'You and Your Household')]

In [102]:
%%sql
ALTER TABLE survey_section
  ADD PRIMARY KEY (sectionID);

 * mysql+pymysql://root:***@fe512_mysql/fe512db
0 rows affected.

[]

In [95]:
%sql DESCRIBE survey_section;

 * mysql+pymysql://root:***@fe512_mysql/fe512db
2 rows affected.

[('sectionID', 'char(1)', 'NO', 'PRI', None, ''),
 ('section_description', 'varchar(255)', 'YES', '', None, '')]

# section_question_answer

In [113]:
%%sql 
DROP TABLE IF EXISTS section_question_answer; 
CREATE TABLE IF NOT EXISTS section_question_answer(
    sectionID CHAR(1),
    answer_abbr VARCHAR(45),
    questionID VARCHAR(5),
    question_description VARCHAR(2000)
);
ALTER TABLE section_question_answer
  ADD PRIMARY KEY (answer_abbr);

 * mysql+pymysql://root:***@fe512_mysql/fe512db
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [119]:
%sql DESCRIBE section_question_answer;

 * mysql+pymysql://root:***@fe512_mysql/fe512db
4 rows affected.

[('sectionID', 'char(1)', 'YES', '', None, ''),
 ('answer_abbr', 'varchar(45)', 'NO', 'PRI', None, ''),
 ('questionID', 'varchar(5)', 'YES', '', None, ''),
 ('question_description', 'varchar(2000)', 'YES', '', None, '')]

In [122]:
%%sql
LOAD DATA 
    INFILE '/home/data/section_question_answer.csv' 
    INTO TABLE section_question_answer
    FIELDS
        TERMINATED BY ','
    OPTIONALLY ENCLOSED BY '"'
        ESCAPED BY '\\'
    LINES
        TERMINATED BY '\r\n'
    IGNORE 1 LINES
    (@sectionID, @answer_abbr, @questionID, @question_description) #col csv
    SET sectionID = @sectionID,
        answer_abbr = @answer_abbr,
        questionID = NULLIF(@questionID, ''),
        question_description = @question_description;

 * mysql+pymysql://root:***@fe512_mysql/fe512db
337 rows affected.

[]

In [124]:
%sql SELECT * FROM section_question_answer LIMIT 10;

 * mysql+pymysql://root:***@fe512_mysql/fe512db
10 rows affected.

[('O', '385 SelfAge', 'O14', 'Self: Age.\xa0'),
 ('O', '386 SelfMOB', 'O14', 'Self: Month Born'),
 ('O', '390 HHAdultGender2', 'O14', 'Adult 2: Gender\xa0'),
 ('D', 'AccessedFamRec_MyPwd', 'D16a', 'Used a login and password assigned to me to access their record.'),
 ('D', 'AccessedFamRec_TheirPwd', 'D16a', 'Used family members login and password.'),
 ('D', 'AccessFamilyMedRec', 'D15', 'How many times access a family members online medical record through a secure website/app?'),
 ('D', 'AccessOnlineRecord', 'D4', 'How many times did you access your online medical record in the last 12 months?'),
 ('O', 'ActiveDutyArmedForces', 'O3', 'Have you ever served on active duty in the U.S. Armed Forces/Military Reserves/National Guard?'),
 ('O', 'Age', 'O1', ' What is your age?'),
 ('H', 'AlcoholConditions_Cancer', 'H4a', 'Drinking too much alcohol - Cancer')]

# person

In [125]:
%%sql
DROP TABLE IF EXISTS person; 
CREATE TABLE IF NOT EXISTS person(
    personID VARCHAR(20)
);
ALTER TABLE person
  ADD PRIMARY KEY (personID);

 * mysql+pymysql://root:***@fe512_mysql/fe512db
0 rows affected.
0 rows affected.
0 rows affected.

/opt/conda/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1051, "Unknown table 'hint.person'")
  result = self._query(query)

[]

In [126]:
%%sql
LOAD DATA 
    INFILE '/home/data/person.csv' 
    INTO TABLE person
    FIELDS
        TERMINATED BY ','
    OPTIONALLY ENCLOSED BY '"'
        ESCAPED BY '\\'
    LINES
        TERMINATED BY '\r\n'
    IGNORE 1 LINES;

 * mysql+pymysql://root:***@fe512_mysql/fe512db
3285 rows affected.

[]